services:
  directus:
    image: directus/directus:11.5.1
    ports:
      - "8055:8055"
    volumes:
      - ./database:/directus/database
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    environment:
      SECRET: "${SECRET}"
      ADMIN_EMAIL: "${ADMIN_EMAIL}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD}"
      DB_CLIENT: "${DB_CLIENT}"
      DB_FILENAME: "${DB_FILENAME}"
      WEBSOCKETS_ENABLED: "${WEBSOCKETS_ENABLED}"
